$main1: #d1d7e0;
$main2: #3f5df1;
$main3: #41951c;
$main4: #a868a0a6;
$main5: #351de0;
$main6: #f1f1f8;
$white: #fff;
$error: #e93000;
$warning: #ffb725;
$black: #000000;
$white: #ffffff;

$primary1: #e8ecff;
$primary2: #223aff;
$primary3: #1c30cd;

$secondary1: #4f576c;
$secondary2: #3c4252;
$secondary3: #303441;

$grey1: #f8f8f8;
$grey2: #d2d2d2;
$grey3: #888888;
$grey4: #5d5d5d;
$grey7: #343741;
$grey5: #2e2e2e;
$grey6: #222222;
